.square1 {
  width: 100px;
  height: 100px;
  border-radius: 20px;
  float: left;
  margin-left: 10px;
  margin-bottom: 10px;
  outline-style: solid;
}

.violet {

  background: purple;
}
.vert {

  background: greenyellow;
}

.clear {
    clear: both;
}



